/* Reset  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
.debug {
    border: 1px dashed black; 
    min-height: 50px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
header li {
    display: inline-block;
}
.row-header-top {
    justify-content: space-between;
}
.header-top-col1, .header-top-col2 {
    width: calc(100% / 3);
}
.header-bottom {
    background-color: #B4D0E7;
}
.row-header-bottom {
    display: flex;
}
.header-bottom-col1 {
    width: 30%;
}
.header-bottom-col2 {
    width: 70%;
}
.header-bottom-col2 > * {
    width: 100%;
}
.jumbotron {
    position: relative;
    top: 50px;
}
.col2-big {
    margin-left: 20px;
    margin-right: 20px;
}
.row-big > * {
    width: calc((100% / 3) - 40px);
}
.row-big {
    margin: 0 -40px;
    justify-content: center;
}
.col2-enterprise {
    width: 80%;
}
.col3-enterprise {
    width: 20%;
}
.row-main {
    display: flex;
}
.col2-main {
    width: 30%;
}
.col1-main {
    width: 70%;
}
.col1-main > * {
    width: 80%;
}
.row-card > * {
    width: calc(100% / 3);
}
.card-img {
    width: 100%;
}
