/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
/* General */
.debug {
    border: 1px dashed black; 
    min-height: 50px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.row-header-top {
    justify-content: space-between;
    text-align: center;
}
.header-top-col1, .header-top-col2 {
    width: calc(100% / 3);
}
.logo {
    width: 80%;
   }   
header li {
    display: inline-block;
    padding: 10px;
    align-items: center;
}
.header-bottom {
    background-color: #B4D0E7;
}
.container2 {
    margin: 0 250px;
    text-align: center;
}
.row-header-bottom {
   align-items:flex-start;
}
.header-bottom-col1{
    width: 40%;
}
.header-bottom-col1 > *{
    padding: 20px 15px; 
}
.header-bottom-col2 {
    width: 60%;
}
.header-bottom-col2 > * {
    width: 100%;
}
.lightblue {
    background-color: #0061FF;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 1em;
    margin-left: 10px;
}
.fa-arrow-down {
    font-size: 2em;
}
.jumbotron {
    position: relative;
    top: 60px;
}
header {
    margin-bottom: 100px;
}
.col2-big {
    margin-left: 20px;
    margin-right: 20px;
}
.row-big > * {
    width: calc((100% / 3) - 40px);
}
.row-big {
    margin: 0 -40px;
    justify-content: center;
}
.col2-enterprise {
    width: 80%;
}
.col3-enterprise {
    width: 20%;
}
.row-main {
    display: flex;
}
.col2-main {
    width: 30%;
}
.col1-main {
    width: 70%;
}
.col1-main > * {
    width: 80%;
}
.row-card {
    flex-wrap: wrap;
}
.col-card {
    width: calc(100% / 3);
}
.card-img {
    width: 100%;
}
.blue {
    background-color: #B4D0E7;
}
.container.debug.flex {
    justify-content: space-between;
}
.row-faq {
    justify-content: space-between;
}
footer {
    background-color: black;
    color: white;
}
.row-footer > * {
    width: calc(100% / 5);
}
